NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
PORT=3000
POSTGRES_URL=postgresql://postgres.[project-ref]:[password]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

# Run `bunx supabase status -o env` to get these values for local dev
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Auth
BETTER_AUTH_SECRET=your_secret_here
